<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/information_box.css" />
<link rel="stylesheet" href="/introduction_page.css" />
<link rel="stylesheet" href="/scroll.css" />
<link rel="stylesheet" href="/blank.css" />

<head>
    <%- include('./head.ejs') %>
</head>

<link href="style.css" rel="stylesheet">

<body>
    <!-- nav bar -->
    <%- include('./nav.ejs') %>

    <!-- usa map svg -->
    <%- include('./svg.ejs') %>

    <% if (data != null) { %>
        
        <div class="information_box">

            <div class="main_information">

                <div class="image-container">
                <h3 id="para1"><%= data.city %>, <%= data.state %></h3>
                </div>

                <div class="information_view">
                <img src="\school.png">
                <h1><%= data.schoolName %> </h1>
                </div>

                <div class="information_view">
                <img src="\skull.png">
                <h2><span id="myNum"><%= data.deaths %> deaths</span></h2>
                </div>

                <div class="information_view">
                <img src="\bullet.png">
                <p><%= data.ammunition %> rounds</p>
                </div>

            </div>

            <div class="police_map_information">

                <div class="image-container">
                    <h1>Map Information:</h1>
                </div>

                <div class="police_view">
                    <p>School Address: <%= data.addressSchool %> </p>
                </div>
                <br>
                <div class="police_view">
                    <p> Police Station 1: <%= data.policeStations[0].policeName %> </p>
                    <p> <%= data.policeStations[0].addressPolice %> </p>
                    <p> Distance: <%= data.policeStations[0].driveDistance %> miles</p>
                    <p> Travel Time: <%= data.policeStations[0].driveTime %> min</p>
                </div>
                <br>
                <div class="police_view">
                    <p> Police Station 2: <%= data.policeStations[1].policeName %> </p>
                    <p> <%= data.policeStations[1].addressPolice %> </p>
                    <p> Distance: <%= data.policeStations[1].driveDistance %> miles</p>
                    <p> Travel Time: <%= data.policeStations[1].driveTime %> min</p>
                </div>

            </div>

            <%- include('./map.ejs') %>

        </div>

        <%- include('./timeline_svg.ejs') %>

    <% } else { %>

        <div class="information_box">
            <h1>No Case Selected Yet</h1>
        </div>

    <% } %>

    <!-- footer -->
    <%- include('./footer.ejs') %>

</body>
</html>