<link rel="stylesheet" href="/timeline.css"/>

<?xml version="1.0" encoding="utf-8"?>
<svg 
viewBox="-155 0 1400 850" 

xmlns="http://www.w3.org/2000/svg"
id="timeSvg"
inkscape:version="0.48.4 r9939"
class="timeline_svg"
>
  <defs>
    <view id="view-1" viewBox="-80.139 -149.021 1369.435 908.866">
      <title>View 1</title>
    </view>
  </defs>
  <!--Big_Rectangle-->
  <rect width="1100" height="125" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" y="525" />
  <text class="big_rect_body_1" y="590" x="933"><%= data.timeLine[4] %></text>
  <text class="big_rect_body_2" y="590" x="708"><%= data.timeLine[3] %></text>
  <text class="big_rect_body_3" y="590" x="483"><%= data.timeLine[2] %></text>
  <text class="big_rect_body_4" y="590" x="258"><%= data.timeLine[1] %></text>
  <text class="big_rect_body_5" y="590" x="33"><%= data.timeLine[0] %></text>
  <g>
    <!--Phase1_text-->
    <rect y="350" width="225" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="100" />
    <text class="rect_time_title" y="390" x="190">t0 to t1</text>
    <text class="rect_time_body" y="410" x="160"><%= data.timeLineDifference[0] %></text>
  </g>
  <g transform="matrix(1, 0, 0, 1, 100, 50)">
    <g>
      <!--Phase2_text-->
      <rect y="200" width="225.125" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="225.126" />
      <text class="rect_time_title" y="240" x="315">t1 to t2</text>
      <text class="rect_time_body" y="260" x="275"><%= data.timeLineDifference[1] %></text>
    </g>
    <g>
      <!--Phase3_text-->
      <rect y="100" width="225.125" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="450.251" />
      <text class="rect_time_title" y="140" x="540">t2 to t3</text>
      <text class="rect_time_body" y="160" x="500"><%= data.timeLineDifference[2] %></text>
    </g>
    <!--Time4_stick-->
    <rect x="675.376" y="200" width="0.5" height="275" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" />
    <!--Time3_stick-->
    <rect x="450.251" y="300" width="0.5" height="175" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" />
    <!--Time2_stick-->
    <rect x="225.126" y="400" width="0.5" height="75" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" />
  </g>
  <g>
    <!--Phase4_text-->
    <rect width="225" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="775" y="50" />
    <text class="rect_time_title" y="90" x="865">t3 to t4</text>
    <text class="rect_time_body" y="110" x="833"><%= data.timeLineDifference[3] %></text>
  </g>
  <!--Time5_stick-->
  <rect x="1000" width="0.5" height="375" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" y="150" />
  <!--Time1_stick-->
  <rect y="450" width="0.5" height="75" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="100" />
  <g>
    <!--Phase1-->>
    <rect x="100" y="300" width="225" height="50" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" />
    <text class="rect_title" y="333" x="175">Phase 1</text>
  </g>
  <g>
    <!--Phase2-->
    <rect x="325" y="200" width="225" height="50" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" />
    <text class="rect_title" y="233" x="400">Phase 2</text>
  </g>
  <g>
    <!--Phase3-->
    <rect x="550" y="100" width="225" height="50" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" />
    <text class="rect_title" y="133" x="625">Phase 3</text>
  </g>
  <g>
    <!--Phase4-->
    <rect x="775" width="225" height="50" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" />
    <text class="rect_title" y="33" x="850">Phase 4</text>
  </g>
  <rect y="650" width="0.5" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="100" />
  <rect y="650" width="0.5" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="550" />
  <rect y="650" width="0.5" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="324.5" />
  <rect y="650" width="0.5" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="774.5" transform="matrix(1, 0, 0, 1, 225, 0)" />
  <rect y="667.737" width="0.5" height="100" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="774.014" transform="matrix(1, 0, 0, 1, 0.486023, -17.737)" />
  <rect y="3.166" width="0.5" height="75" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x="535.887" transform="matrix(1, 0, 0, 1, -435.887024, 446.833984)" />
  <!--Circles&text-->>
  <ellipse style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" cx="1000" cy="765" rx="15" ry="15" />
  <text class="big_rect_detail" y="815" x="940">Shooter Caught <tspan dy="20" dx="-80">(t4)</tspan></text>
  <ellipse style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" cx="775" cy="765" rx="15" ry="15" />
  <text class="big_rect_detail" y="815" x="720">Police Arrive <tspan dy="20" dx="-110">at School (t3)</tspan></text>
  <ellipse style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" cx="325" cy="765" rx="15" ry="15" />
  <text class="big_rect_detail" y="815" x="268">First Shot Fired <tspan dy="20" dx="-125">by Shooter (t1)</tspan></text>
  <ellipse style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" cx="100" cy="765" rx="15" ry="15" />
  <text class="big_rect_detail" y="815" x="30">Shooter Arrives at <tspan dy="20" dx="-140">Destination (t0)</tspan></text>
  <ellipse style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" cx="550" cy="765" rx="15" ry="15" />
  <text class="big_rect_detail" y="815" x="495">First 911 Call <tspan dy="20" dx="-75">(t2)</tspan></text>
</svg>